/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .hero__img {
        margin: auto;
    }

}


/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .hero__img {
        margin: auto;
    }
    .menu-area {
        margin-right: 0;
    }
    .hero-area {
        padding: 50px 0;
    }
    
    .hero__content {
        margin-right: -70px;
    }
    
    .Exclusive__game i {
        max-width: 265px;
    }
    
    .profit__blk {
        padding: 20px;
    }
    
    .profit__blk .flex {
        width: 75%;
    }
    
    .profit__blk.v2 i {
        max-width: 220px;
    }
    
    .thm_btn {
        padding: 16px 28px;
    }
    
    .about__img {
        margin-left: -10px;
    }
    
    .guarante__blk i {
        height: 177px;
    }
    
    .guarante__blk > div {
        padding: 16px;
        height: 120px;
    }
    
    .guarante__blk p {
        font-size: 12px;
    }
    
    .guarante__blk h5 {
        font-size: 18px;
    }

.Sign-Up-btn {
    height: 56px;
    margin-top: 20px;
}
}

 
/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    :root{
      
        --f18 : 16px;
        --f20 : 18px;
        --f22 : 20px;
        --f24 : 22px;
        --f28 : 24px;
        --f30 : 26px;
        --f32 : 28px;
        --f36 : 30px;
        --f40 : 32px;
        --f48 : 36px;
      
      }
      

    .hero__img {
        margin-left: auto;
        max-width: 75%;
        margin-right: 0;
        margin-top: -173px;
    }
    .menu-area {
        margin-right: 0;
    }
    .hero-area {
        padding: 50px 0;
    }

    .Exclusive__game i {
        max-width: 317px;
    }
    
    .profit__blk {
        padding: 20px;
    }

.profit__blk.v2 {
    padding: 23px 20px;
}
    
    .profit__blk .flex {
        width: 75%;
    }
    
    .profit__blk.v2 i {
        max-width: 160px;
        position: absolute;
        bottom: 0;
        right: 20px;
    }
    
    .thm_btn {
        padding: 16px 28px;
    }
    
    .about__img {
        margin-left: -10px;
    }
    
    .guarante__blk i {
        height: 275px;
    }
    
    .guarante__blk > div {
        padding: 16px;
        height: 120px;
    }
    

    
    .guarante__blk h5 {
        font-size: 18px;
    }

.Sign-Up-btn {
    height: 56px;
    margin-top: 20px;
}
.about__text > i {text-align: center;}

.about__text {
    max-width: 100%;
}

.guarante-area .container {
    max-width: 750px;
}

.guarante__blk {
    margin-bottom: 20px;
}

.brand__logo ul {
    gap: 70px;
}

.footer__content {
    text-align: center;
}

.footer__content p {
    margin: auto;
    margin-bottom: 40px;
}

.Contact__blk {
    margin: auto;
    margin-top: 30px;
}

.Contact__blk ul {
    margin: auto;
}

.Contact__blk > p {
    text-align: center;
}

}

 
/* small screen :320px. */
@media (max-width: 767px) {

    :root{
      
        --f18 : 16px;
        --f20 : 18px;
        --f22 : 20px;
        --f24 : 22px;
        --f28 : 24px;
        --f30 : 26px;
        --f32 : 28px;
        --f36 : 30px;
        --f40 : 32px;
        --f48 : 36px;
      
      }
      

    .hero__img {
        margin-left: auto;
        margin-right: 0;
    }
    .menu-area {
        margin-right: 0;
    }
    .hero-area {
        padding: 50px 0 0;
    }
    
    .hero__content {
    text-align: center;
    }
    
    .Exclusive__game i {
        max-width: 317px;
        position: unset;
    }
    
    .profit__blk {
        padding: 20px;
        text-align: center;
        justify-content: center;
        align-items: center !important;
        flex-direction: column-reverse;
        gap: 10px;
    }

.Exclusive__game {
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
}

.profit__blk.v2 {
    padding: 23px 20px 0;
    align-items: center !important;
}
    
    .profit__blk .flex {
        width: 75%;
    }
    
    .profit__blk.v2 i {
        max-width: 200px;
        bottom: 0;
        right: 20px;
    }
    
    .thm_btn {
        padding: 16px 28px;
    }
    
    .about__img {
        margin-left: -10px;
    }
    
    .guarante__blk i {
        height: 275px;
    }
    
    .guarante__blk > div {
        padding: 16px;
        height: 120px;
        padding-top: 0;
    }
    

    .guarante__blk h5 {
        font-size: 18px;
    }

.Sign-Up-btn {
    height: 56px;
    margin-top: 20px;
}
.about__text > i {text-align: center;}

.about__text {
    max-width: 100%;
}

.guarante-area .container {
    max-width: 750px;
}

.guarante__blk {
    margin-bottom: 20px;
    max-width: 320px;
    margin-inline: auto;
}

.brand__logo ul {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.brand__logo ul li {
    width: 40%;
    text-align: center;
}

.footer__content {
    text-align: center;
}

.footer__content p {
    margin: auto;
    margin-bottom: 40px;
}

.Contact__blk {
    margin: auto;
    margin-top: 30px;
}

.Contact__blk ul {
    margin: auto;
}

.Contact__blk > p {
    text-align: center;
}
.profit__wrp ul {
    flex-direction: column;
    border-left: none;
}

.profit__wrp ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border: none;
    border-bottom: 2px solid #242D44;
    align-items: center;
}

.profit__wrp ul li h5 {
    margin: 0;
    font-size: 18px;
}

.profit__wrp ul li h3 {
    margin: 0;
}

.hero__content span {
    font-size: 13px;
    margin: auto;
    margin-bottom: 10px;
}

.hero__content h1 {
    font-size: 42px;
}

.Contact__blk ul li a {
    width: 40px;
    height: 40px;
    padding: 11px;
}

.manager__blk i {
    width: 35px;
    height: 35px;
}

.dot {
    width: 10px;
    height: 10px;
}

.manager__blk p {
    font-size: 12px;
}

.profit__title {
    text-align: center;
}

.profit__blk ul {
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 10px;
}

.about__text .flex {
    flex-direction: column;
    margin-bottom: 20px;
}

.about__text .flex button,.about__text .flex a {
    width: 100%;
    text-align: center;
}

.footer__content h1 {
    font-size: 40px;
}
 
}
 
/* Large Mobile screen :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
